@import './utils/colors';
.form {
    display: flex;
    gap: 4px;
    &>input {
        outline: none;
        padding: 13px 150px;
        border-radius: 10px;
        border: 3px solid #1d1d26;
        color: getColor('textColor');
        background-color: transparent;
        text-align: center;
        font-size: 17px;
        &::placeholder {
            font-size: 17px;
        }
    }
}